body {
  padding-top: 7.0rem;
  padding-bottom: 70px;
  font-size: 1.5rem;
  color: #444;
  background-color: rgba(233, 196, 106, 1);
}
#navbar.bg-dark {
  background-color: rgba(38, 70, 83, 1) !important;
}
span > a.nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
}
span > a.nav-link:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}
.navbar.fixed-bottom {
  background-color: rgba(38, 70, 83, 1) !important;
  color: rgba(233, 196, 106, 1);
  font-size: 2em; 
}
a {
  color: rgba(42, 157, 143, 1);
}
a:hover {
  color: rgba(38, 70, 83, 1);
  text-decoration: none;
}
.btn-primary {
  background-color: rgba(38, 70, 83, 1) !important;
  border-bottom-color: rgba(38, 70, 83, 1) !important;
  border-color: rgba(38, 70, 83, 1) !important;
}
.btn-warning {
  background-color: rgba(231, 111, 81, 1) !important;
  border-bottom-color: rgba(231, 111, 81, 1) !important;
  border-color: rgba(231, 111, 81, 1) !important;
}
