<div class="row justify-content-around">
  <div class="col-12 col-md-4 mb-5">
    <div class="card h-100" >
      <div class="card-header text-center">
          <i class="fa fa-upload m-3" style="font-size:6rem"></i>
          <i class="fa fa-calendar m-3" style="font-size:6rem"></i>
      </div>
      <div class="card-body">
        <p class="card-text">Upload <a href="https://json-schema.org/">JSON Schemas</a> that define the structure of JSON objects.</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mb-5">
    <div class="card h-100" >
      <div class="card-header text-center">
          <i class="fa fa-file-o m-3" style="font-size:6rem"></i>
          <i class="fa fa-pencil-square-o m-3" style="font-size:6rem"></i>
      </div>
      <div class="card-body">
        <p class="card-text">Create, copy, edit, view JSON objects conforming to schemas.</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mb-5">
    <div class="card h-100" >
      <div class="card-header text-center">
          <i class="fa fa-terminal m-3" style="font-size:6rem"></i>
          <i class="fa fa-share-alt m-3" style="font-size:6rem"></i>
      </div>
      <div class="card-body">
        <p class="card-text">API access and social media sharing.</p>
      </div>
    </div>
  </div>
</div>
