<div class="row justify-content-around">
  <div class="col-12 col-md-4 mb-5">
    <div class="card h-100" >
      <div class="card-header text-center">
          <i class="fa fa-calendar" style="font-size:8rem"></i>
      </div>
      <div class="card-body">
        <p class="card-text"><a href="https://json-schema.org/">JSON Schemas</a> control the structure of the JSON objects.</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mb-5">
    <div class="card h-100" >
      <div class="card-header text-center">
          <i class="fa fa-file-o" style="font-size:8rem"></i>
      </div>
      <div class="card-body">
        <p class="card-text">JSON objects hold content. They can be viewed, edited and copied.</p>
      </div>
    </div>
  </div>
</div>
