<h1>Sign in</h1>
<a class="btn btn-lg btn-primary mb-3" href="/auth/google_oauth2"><i class="fa fa-google"></i> Sign in with Google</a><br>
<a class="btn btn-lg btn-primary mb-3" href="/auth/github"><i class="fa fa-github-alt"></i> Sign in with GitHub</a><br>

