<h1>New Schema</h1>

<form method="POST" action="/schemas" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Schema Title</label>
    <input type="text" class="form-control" id="title" name="title" maxlength="64" required>
  </div>
  <div class="form-group">
    <label for="description">Schema Description</label>
    <textarea id="description" class="form-control" name="description" rows="3" maxlength="512"></textarea>
  </div>
  <div class="form-group">
    <label for="jsonstrfile">Schema File</label>
    <input type="file" class="form-control-file" id="jsonstrfile" name="jsonstrfile">
  </div>
  <button class="btn btn-lg btn-primary" type="submit" id="submitbtn" title="Submit" >Submit</button>
</form>

